//Color Pallette
$yellow: #FFE066;
$red: #F25F5C;
$blue: #247BA0;
$light-blue: #70C1B3;
$green: #16DB93;
$orange: #FA7921;

//Generic Base Colors
$black: #121211;
$lighter-black: #232734;
$light-grey: #ededed;
$white: #fff;

//Left Hand Nav Colors
$left-nav-bg: $black;
$left-nav-lc: $white;
$left-nav-fa: $white;

//Right Hand Body Colors
$right-hero-bg: $light-grey;
$right-hero-h1: $blue;
$right-hero-p: $lighter-black;

$right-bg: #fff;

$right-featured-heading: $black;
$right-featured-hover-bg: $blue;
$right-featured-hover-color: $white;

$right-all-heading: $black;

$right-footer-bg: $black;

$right-about-heading: $white;
$right-about-heading-bg: $blue;

$right-container-heading: $black;
$right-container-location: $black;
$right-container-title: $black;
$right-container-date: $black;
$right-container-content: $black;
